<%!-- WRAPPER --%>
<div class="flex justify-center">
  <%!-- CENTER COL --%>
  <div class="flex flex-col items-center w-full px-5">
    <%!-- PHOENIX FLASH MESSAGES --%>
    <.flash_group flash={@flash} />
    <%!-- SCREEN / LIVEVIEW WRAPPER --%>
    <%= @inner_content %>
  </div>
</div>
