@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file is for your main application CSS */

/* APP DEVELOPMENT */
small {
  font-size: 0.7rem;
  font-style: italic;
  color: #e4cc58;
}

/* VISUAL DEBUGGING */
.dby {
  border: 1px solid #e4cc58;
}
.dbb {
  border: 1px solid #58c4e4;
}

/* CSS VARIABLES */
@layer base {
  :root {
    --red-light: 331deg 100% 85%;
    --red-medium: 346deg 61% 70%;
    --red: 346deg 61% 36%;
    --red-vibrant: 346deg 72% 40%;
    --red-dark: 346deg 72% 23%;
    --red-darker: 346deg 100% 19%;
    --blue-light: 188deg 80% 64%;
    --blue-dark: 253deg 95% 16%;
    --purple: 263deg 55% 52%;
    --white: 0deg 0% 100%;
  }
}

body,
#hours {
  scrollbar-color: hsl(346deg 61% 36%) hsl(346deg 100% 19%);
  scrollbar-width: thin;
}
body::-webkit-scrollbar,
#hours::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb,
#hours::-webkit-scrollbar-thumb {
  background-color: hsl(346deg 61% 70%);
  border-radius: 5px;
}
