@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file is for your main application CSS */

/* APP DEVELOPMENT */
small {
  font-size: 0.7rem;
  font-style: italic;
  color: #e4cc58;
}

/* VISUAL DEBUGGING */
.dbg {
  border: 1px solid #09640d;
}
.dbr {
  border: 1px solid #85215b;
}

/* CSS VARIABLES */
@layer base {
  :root {
    --primary-light: 209deg 100% 90%;
    --primary-medium: 209deg 61% 80%;
    --primary: 209deg 48% 60%;
    --primary-vibrant: 224deg 72% 40%;
    --primary-dark: 209deg 60% 30%;
    --primary-darker: 224deg 100% 19%;
    --secondary-light: 200deg 80% 64%;
    --secondary-dark: 253deg 95% 16%;
    --secondary-darker: 253deg 95% 10%;
    --white: 0deg 0% 100%;
  }

  body,
  #hours {
    scrollbar-color: var(--primary-medium) var(--primary-dark);
    scrollbar-width: thin;
  }
  body::-webkit-scrollbar,
  #hours::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  body::-webkit-scrollbar-thumb,
  #hours::-webkit-scrollbar-thumb {
    background-color: hsl(209deg 100% 90%);
    border-radius: 5px;
  }
}

/* GLOBAL STYLES */
.text-shadow-surround {
  text-shadow: 2px 2px 4px hsl(209deg 60% 52% / 0.3),
    -2px -2px 4px hsl(209deg 60% 52%), 2px -2px 4px hsl(209deg 60% 52% / 0.3),
    -2px 2px 4px hsl(209deg 60% 52% / 0.3);
}

/* COMPONENTS */
.nav-button {
  @apply p-3 rounded-xl bg-primary-darker border border-primary-light;
  @apply font-medium tracking-[0.05rem];
  user-select: none;
}
